<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="potion-effect"></div>
    <div class="spell"></div>
    <h1>Potions</h1>
    <div class="container">
        <% if(potionInfo.length > 0){ %>
            <% potionInfo.forEach(potions => {%>
                <div class="potion-card">
                    <img class="potion-img" src="<%= potions.image || 'missing.png' %>" alt="<%= potions.image %>" alt="">
                    <p><strong>Name: </strong><%= potions.name %></p>
                    <p><strong>Effect: </strong><%= potions.effect %></p>
                </div>
           <% }); %>
            <% }else{ %>
                <p>No data available</p>
                <% } %>
    </div>
<script src=""></script>
</body>
</html>